body{
  height: 100%;
  width: 100%;
}
.bttn {
  border-radius: 12px;
  padding: 12px;
  display: block;
  margin: 20px auto;
  background-color: #a5d49f; /* Background color */
  color: #63615d; /* Text color */
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.bttn:hover {
  background-color: #ebd9b4; /* Background color on hover */
  color: #020202;
}

.image {
  height: 60%;
  width: 80%;
  margin: auto;
  display: block;
  max-width: 500px;
}

.flex {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  height: 45vh;
  
}

.flex div {
  text-align: center;
}

.flex a {
  margin-top: 10px;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f9efdb; /* Overall background color */
  color: #333;
}

h1 {
  text-align: center;
  color: #0066cc;
}

/* Style the paragraphs to prevent text overflow */
p {
  max-width: 60%;
  margin: 20px auto;
  white-space: normal;
  word-wrap: break-word;
}

/* Additional styling for Workout plan section */
h3 {
  text-align: center;
  color: #638889; /* Workout plan section heading color */
  /* background-color: #ebd9b4; Workout plan section background color */
  padding: 10px;
  margin-top: 20px;
}

/* Apply background color to individual sections */
.flex div {
  background-color: #9dbc98; /* Section background color */
  /* padding: 20px; */
  border-radius: 10px;
  margin-bottom: 20px;
}
.i{
  width: 45%;
}

